@import 'tailwindcss';
@import "tailwindcss-safe-area";

@plugin '@tailwindcss/typography';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 900px;

  --color-padlok-blue: #344c84;
  --color-padlok-cyan: #3bbdff;

  --color-skintone-0: #fcbc37;
  --color-skintone-1: #f5ddc0;
  --color-skintone-2: #dabc9a;
  --color-skintone-3: #b8916f;
  --color-skintone-4: #936644;
  --color-skintone-5: #56463b;

  --font-hkgrotesk-black: HKGrotesk-Black, sans-serif;
  --font-hkgrotesk-semibold: HKGrotesk-SemiBold, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  @font-face {
    font-family: 'HKGrotesk-Black';
    src: url('/css/fonts/HKGrotesk-Black.otf') format('opentype');
  }
  @font-face {
    font-family: 'HKGrotesk-SemiBold';
    src: url('/css/fonts/HKGrotesk-SemiBold.otf') format('opentype');
  }
}

/* Re-usable */

.centered-container {
    @apply container px-safe mx-auto;
}

/* device.js */

.visible-android {
    @apply hidden;
}
.visible-ios {
    @apply hidden;
}
.on-device .visible-ios, .on-device .visible-android {
    display: inherit;
}
.device-ios .visible-android {
    display:none !important;
}
.device-ios .hidden-ios {
    display:none !important;
}
.device-android .hidden-android {
    display:none !important;
}
.device-android .visible-ios {
    display:none !important;
}

/* Site header */

header {
    @apply z-50 sticky top-0 bg-padlok-blue text-white overflow-hidden h-16 print:text-black print:bg-transparent;
}
header > div {
    @apply container px-safe mx-auto flex justify-between items-center h-16;
}
header img {
    @apply select-none;
}
header .logo {
    @apply mx-2 sm:mx-0 scale-90 sm:scale-100;
}
header ul.store-links {
    @apply px-2 sm:px-4 space-x-2 print:invisible flex;
}
header ul.store-links li {
    @apply hidden md:inline-block scale-90 sm:scale-100;
}
.on-device header ul.store-links li {
    @apply inline-block;
}

/* Site footer */

footer {
    @apply bg-sky-50 py-5 print:hidden;
}
footer span.copyright {
    @apply text-xs sm:text-sm text-center text-gray-500;
}
footer ul.store-links {
    @apply text-xs sm:text-sm flex flex-col items-center sm:items-start text-left space-y-1;
}
footer ul.store-links li a {
    @apply opacity-80;
}
footer ul.store-links li a[href] {
    @apply hover:opacity-100 hover:underline;
}
footer ul.relative-links {
    @apply text-xs sm:text-sm flex flex-col items-end text-right space-y-1;
}
footer ul.relative-links li a {
    @apply opacity-80;
}
footer ul.relative-links li a[href] {
    @apply hover:opacity-100 hover:underline;
}
footer ul.social-media a svg, footer ul.social-media a img {
    @apply m-0 w-4 h-4 sm:w-6 sm:h-6 select-none;
}
footer img.icon {
    @apply w-16 sm:w-24 rounded-2xl sm:rounded-3xl select-none;
}

.lds-ellipsis div {
    @apply bg-padlok-cyan;
}

dl {
    @apply overflow-visible flex flex-row flex-wrap
}

dl dt, dl dd {
    @apply overflow-hidden text-ellipsis grow-0 shrink-0 pb-3 mb-3 border-b-2
}

dl dt {
    @apply font-medium text-gray-500 basis-1/3
}

dl dd {
    @apply text-right ml-auto basis-2/3
}

dl dd.full-width {
    @apply basis-full text-center border-0
}
