@font-face {
    font-family: 'HKGrotesk-Black';
    src: url('/css/fonts/HKGrotesk-Black.otf') format('opentype');
}
@font-face {
    font-family: 'HKGrotesk-SemiBold';
    src: url('/css/fonts/HKGrotesk-SemiBold.otf') format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
