name: Build Vite

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - '*'
      - '!main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - name: Enable Corepack
        run: |
          corepack enable
          corepack prepare $(jq -r .packageManager admin/package.json) --activate
      - name: Get yarn cache directory
        id: yarn-cache
        run: echo "dir=$(yarn config get globalFolder)" >> $GITHUB_OUTPUT
      - name: Cache yarn packages
        uses: actions/cache@v4
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: "yarn-${{ hashFiles('admin/package.json') }}"
          restore-keys: "yarn-"
      - name: Install dependencies
        run: yarn --immutable
      - name: Build
        run: yarn run build
      - name: Upload built app
        uses: actions/upload-artifact@v4
        with:
          name: padlok-webapp
          path: dist
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Download built app
        uses: actions/download-artifact@v4
        with:
          name: padlok-webapp
          path: dist
      - name: Deploy
        uses: Burnett01/rsync-deployments@5.2.1
        with:
          switches: -avzr --delete
          path: dist/
          remote_path: ${{ secrets.DEPLOY_PATH }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_port: ${{ secrets.DEPLOY_PORT }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
